<section class="no-padding" id="cta">
    <!--<div class="container-fluid">-->
    <!--    <div class="row no-gutter">-->
    <!--        <div class="col-lg-4 col-sm-6">-->
    <!--            <a href="../_includes/services.html" class="portfolio-box">-->
    <!--                <img src="img/portfolio/1.jpg" class="img-responsive" alt="">-->
    <!--                <div class="portfolio-box-caption">-->
    <!--                    <div class="portfolio-box-caption-content">-->
    <!--                        <div class="project-category text-faded">-->
    <!--                            Category-->
    <!--                        </div>-->
    <!--                        <div class="project-name">-->
    <!--                            Project Name-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </a>-->
    <!--        </div>-->
    <!--        <div class="col-lg-4 col-sm-6">-->
    <!--            <a href="#" class="portfolio-box">-->
    <!--                <img src="img/portfolio/2.jpg" class="img-responsive" alt="">-->
    <!--                <div class="portfolio-box-caption">-->
    <!--                    <div class="portfolio-box-caption-content">-->
    <!--                        <div class="project-category text-faded">-->
    <!--                            Category-->
    <!--                        </div>-->
    <!--                        <div class="project-name">-->
    <!--                            Project Name-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </a>-->
    <!--        </div>-->
    <!--        <div class="col-lg-4 col-sm-6">-->
    <!--            <a href="#" class="portfolio-box">-->
    <!--                <img src="img/portfolio/3.jpg" class="img-responsive" alt="">-->
    <!--                <div class="portfolio-box-caption">-->
    <!--                    <div class="portfolio-box-caption-content">-->
    <!--                        <div class="project-category text-faded">-->
    <!--                            Category-->
    <!--                        </div>-->
    <!--                        <div class="project-name">-->
    <!--                            Project Name-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </a>-->
    <!--        </div>-->
    <!--        <div class="col-lg-4 col-sm-6">-->
    <!--            <a href="#" class="portfolio-box">-->
    <!--                <img src="img/portfolio/4.jpg" class="img-responsive" alt="">-->
    <!--                <div class="portfolio-box-caption">-->
    <!--                    <div class="portfolio-box-caption-content">-->
    <!--                        <div class="project-category text-faded">-->
    <!--                            Category-->
    <!--                        </div>-->
    <!--                        <div class="project-name">-->
    <!--                            Project Name-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </a>-->
    <!--        </div>-->
    <!--        <div class="col-lg-4 col-sm-6">-->
    <!--            <a href="#" class="portfolio-box">-->
    <!--                <img src="img/portfolio/5.jpg" class="img-responsive" alt="">-->
    <!--                <div class="portfolio-box-caption">-->
    <!--                    <div class="portfolio-box-caption-content">-->
    <!--                        <div class="project-category text-faded">-->
    <!--                            Category-->
    <!--                        </div>-->
    <!--                        <div class="project-name">-->
    <!--                            Project Name-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </a>-->
    <!--        </div>-->
    <!--        <div class="col-lg-4 col-sm-6">-->
    <!--            <a href="#" class="portfolio-box">-->
    <!--                <img src="img/portfolio/6.jpg" class="img-responsive" alt="">-->
    <!--                <div class="portfolio-box-caption">-->
    <!--                    <div class="portfolio-box-caption-content">-->
    <!--                        <div class="project-category text-faded">-->
    <!--                            Category-->
    <!--                        </div>-->
    <!--                        <div class="project-name">-->
    <!--                            Project Name-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </a>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->
    <div class="row">
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
          </div>
          <h5 class="card-title center">Time</h5>
          <p class="card-text lead">Due to climatic conditions, we can safely fly only in the early morning hours with our primary season and most beautiful months being May through November. Since our launch times vary through the seasons, we ask all our guests to call ahead for the exact meeting time.</p>
          <a href="../files/index.html" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

     <div class=" col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
             
          </div>
          <h5 class="card-title center">Weather</h5>
          <p class="card-text lead">High winds and/or inclement weather prevent us from flying. We ask all our guests to contact us in the early afternoon prior to their scheduled flight between 12:00 noon and 2:00 p.m. to verify that the forecasted weather conditions will allow their balloon flight.</p>
        </div>
      </div>
    </div>

     <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
              
          </div>
          <h5 class="card-title center">Flight</h5>
          <p class="card-text lead">Our actual flight time is approximately one to one and a half hours averaging closer to one and a half hours and we suggest to allow three to three and a half hours for the entire adventure.</p>
        </div>
      </div>
    </div>
   </div>
</div>
</section>
