<section id="cta">
    <!--<div class="container-fluid">-->
    <!--    <div class="row no-gutter">-->
    <!--        <div class="col-lg-4 col-sm-6">-->
    <!--            <a href="../_includes/services.html" class="portfolio-box">-->
    <!--                <img src="img/portfolio/1.jpg" class="img-responsive" alt="">-->
    <!--                <div class="portfolio-box-caption">-->
    <!--                    <div class="portfolio-box-caption-content">-->
    <!--                        <div class="project-category text-faded">-->
    <!--                            Category-->
    <!--                        </div>-->
    <!--                        <div class="project-name">-->
    <!--                            Project Name-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </a>-->
    <!--        </div>-->
    <!--        <div class="col-lg-4 col-sm-6">-->
    <!--            <a href="#" class="portfolio-box">-->
    <!--                <img src="img/portfolio/2.jpg" class="img-responsive" alt="">-->
    <!--                <div class="portfolio-box-caption">-->
    <!--                    <div class="portfolio-box-caption-content">-->
    <!--                        <div class="project-category text-faded">-->
    <!--                            Category-->
    <!--                        </div>-->
    <!--                        <div class="project-name">-->
    <!--                            Project Name-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </a>-->
    <!--        </div>-->
    <!--        <div class="col-lg-4 col-sm-6">-->
    <!--            <a href="#" class="portfolio-box">-->
    <!--                <img src="img/portfolio/3.jpg" class="img-responsive" alt="">-->
    <!--                <div class="portfolio-box-caption">-->
    <!--                    <div class="portfolio-box-caption-content">-->
    <!--                        <div class="project-category text-faded">-->
    <!--                            Category-->
    <!--                        </div>-->
    <!--                        <div class="project-name">-->
    <!--                            Project Name-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </a>-->
    <!--        </div>-->
    <!--        <div class="col-lg-4 col-sm-6">-->
    <!--            <a href="#" class="portfolio-box">-->
    <!--                <img src="img/portfolio/4.jpg" class="img-responsive" alt="">-->
    <!--                <div class="portfolio-box-caption">-->
    <!--                    <div class="portfolio-box-caption-content">-->
    <!--                        <div class="project-category text-faded">-->
    <!--                            Category-->
    <!--                        </div>-->
    <!--                        <div class="project-name">-->
    <!--                            Project Name-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </a>-->
    <!--        </div>-->
    <!--        <div class="col-lg-4 col-sm-6">-->
    <!--            <a href="#" class="portfolio-box">-->
    <!--                <img src="img/portfolio/5.jpg" class="img-responsive" alt="">-->
    <!--                <div class="portfolio-box-caption">-->
    <!--                    <div class="portfolio-box-caption-content">-->
    <!--                        <div class="project-category text-faded">-->
    <!--                            Category-->
    <!--                        </div>-->
    <!--                        <div class="project-name">-->
    <!--                            Project Name-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </a>-->
    <!--        </div>-->
    <!--        <div class="col-lg-4 col-sm-6">-->
    <!--            <a href="#" class="portfolio-box">-->
    <!--                <img src="img/portfolio/6.jpg" class="img-responsive" alt="">-->
    <!--                <div class="portfolio-box-caption">-->
    <!--                    <div class="portfolio-box-caption-content">-->
    <!--                        <div class="project-category text-faded">-->
    <!--                            Category-->
    <!--                        </div>-->
    <!--                        <div class="project-name">-->
    <!--                            Project Name-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </a>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->
    <div class="row">
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
          </div>
          <h2 class="card-title center">Unemployment</h2>
          <p class="card-text lead">Many people face the threat of umeployment since the machine is taking their jobs away. Owners are now firng people in ordr to allow machines to take their jobs over. The count it was an investment since they don't have to pay machines for doing their work.</p>
        </div>
      </div>
    </div>

     <div class=" col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
             
          </div>
          <h2 class="card-title center">Efficiency</h2>
          <p class="card-text lead">Humans get sick, grow old and slow down. In addition, you need to pay them. It's too costly. Replace them for machine and look at the benefits. A machine doesn't slow down, complain, or get sick. They can be built to work faster and better than humans.</p>
        </div>
      </div>
    </div>

     <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
              
          </div>
          <h2 class="card-title center">Intelligence</h2>
          <p class="card-text lead">What happens when we give our machines their own mind. Would they salute to their creators or rebel? They might think that we are an inferior species to them. </p>
        </div>
      </div>
    </div>
   </div>
</div>
</section>
