  <aside class="bg-dark">
    <h1 class="text-center">Gallery</h1>
   <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                    <img src="img/ai1.jpg" width=650px height="300px" alt="">
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <img src="img/ai2.png" width=650px height="300px" alt="">
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                 <img src="img/ai3.jpg" width=650px height="300px" alt="">
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                 <img src="img/ai4.jpg" width=650px height="300px" alt="">
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                 <img src="img/ai5.jpg" width=650px height="300px" alt="">
            </div>
           <div class="col-lg-6 col-md-12 col-sm-12">
                 <img src="img/ai6.png" width=650px height="300px" alt="">
            </div>
        </div>
    </div>
  </aside>
