<section id="info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Information</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!--<div class="col-lg-3 text-center">-->
            <!--    <div class="service-box">-->
                    <!--<i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>-->
            <!--        <h3>Machine Learning</h3>-->
            <!--        <p class="text-muted">All AI requires an application called Machine Learning in order to function like an AI. Machine Learning is what allows systems to learn from data collect, identify and analyze problems, and collected from the data to use to make decisions all on its own with minimal human interactions. Machine Learning contains algorithms and uses 2 types of techniques that helps make an AI an AI. Those 2 techniques are called Supervised Learning and Unsupervised Learning.</p>-->
            <!--    </div>-->
            <!--</div>-->
            <!--<div class="col-lg-3 text-center">-->
            <!--    <div class="service-box">-->
                    <!--<i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>-->
            <!--        <h3>Intentionality</h3>-->
            <!--        <p class="text-muted">One of the 3 qualities that make an AI. Intentionality is the ability to make decisions using real time data and be able to Quickly makes the most optimal decision based on the data it has collected.This can be harmful to humans if the system is programmed poorly or programmed to harm people in the first place.</p>-->
            <!--    </div>-->
            <!--</div>-->
            <!--<div class="col-lg-3 text-center">-->
            <!--    <div class="service-box">-->
                    <!--<i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>-->
            <!--        <h3>Intelligence</h3>-->
            <!--        <p class="text-muted">One of the 3 qualities that make an AI. Intelligence is allowing the system to be able to take in data and look for trends/patterns that happens which then it uses to base its decisions off of. The intellect of the AI is based solely on the programmers’ written code and into the AI.</p>-->
            <!--    </div>-->
            <!--</div>-->
            <!--<div class="col-lg-3 text-center">-->
            <!--    <div class="service-box">-->
                    <!--<i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>-->
            <!--        <h3>Adaptability</h3>-->
            <!--        <p class="text-muted">One of the 3 qualities that make an AI. Adaptability is the ability to learn and adapt as it takes in new information and makes decisions. Being able to constantly take in new information, learn, and adapt can be seem as the most important qualities in an AI since its what makes an AI think like a human.</p>-->
            <!--    </div>-->
            <!--</div>-->
            <!--<div class="col-lg-3 text-center">-->
            <!--    <div class="service-box">-->
                    <!--<i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>-->
            <!--        <h3>Adaptability</h3>-->
            <!--        <p class="text-muted">One of the 3 qualities that make an AI. Adaptability is the ability to learn and adapt as it takes in new information and makes decisions. Being able to constantly take in new information, learn, and adapt can be seem as the most important qualities in an AI since its what makes an AI think like a human.</p>-->
            <!--    </div>-->
            <div class="col-lg-12 text-center">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Machine Learning</h3>
                            <h5 class="card-subtitle mb-2 text-muted">Foundation of AI</h5>
                            <p class="card-text">All AI requires an application called Machine Learning in order to function like an AI. Machine Learning is what allows systems to learn from data collect, identify and analyze problems, and collected from the data to use to make decisions all on its own with minimal human interactions. Machine Learning contains algorithms and uses 2 types of techniques that helps make an AI an AI. Those 2 techniques are called Supervised Learning and Unsupervised Learning.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 text-center">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Intentionality</h3>
                            <h5 class="card-subtitle mb-2 text-muted">One of the 3 qualities</h5>
                            <p class="card-text">One of the 3 qualities that make an AI. Intentionality is the ability to make decisions using real time data and be able to Quickly makes the most optimal decision based on the data it has collected.This can be harmful to humans if the system is programmed poorly or programmed to harm people in the first place.</p>
                        </div>
                    </div>
                </div><div class="col-lg-12 text-center">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Intelligence</h3>
                            <h5 class="card-subtitle mb-2 text-muted">One of the 3 qualities</h5>
                            <p class="card-text">One of the 3 qualities that make an AI. Intelligence is allowing the system to be able to take in data and look for trends/patterns that happens which then it uses to base its decisions off of. The intellect of the AI is based solely on the programmers’ written code and into the AI.</p>
                        </div>
                    </div>
                </div><div class="col-lg-12 text-center">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Adaptability</h3>
                            <h5 class="card-subtitle mb-2 text-muted">One of the 3 qualities</h5>
                            <p class="card-text">One of the 3 qualities that make an AI. Adaptability is the ability to learn and adapt as it takes in new information and makes decisions. Being able to constantly take in new information, learn, and adapt can be seem as the most important qualities in an AI since its what makes an AI think like a human.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
