<section id="info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="section-heading">Information</h1>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
          </div>
          <h2 class="card-title center">Artificial Narrow Intelligence (ANI)</h2>
          <p class="card-text">Referred to as “Weak AI”. Only capable of voice recognition. Does only the task that it was programmed to do and does it effectively and efficiently. This type can be found everywhere in this modern era. Humans had succeeded in creating this type of AI. Examples of ANI include Cortanna and Alexa.</p>
        </div>
      </div>
    </div>

     <div class=" col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
             
          </div>
          <h2 class="card-title center">Artificial General Intelligence (AGI)</h2>
          <p class="card-text">Referred as “Strong AI”. This kind of AI is capable of general intelligente. Capable of acting and solving problems like humans and can act on its own inteligente and accord. Humans are still in the work in process stage before they succeed in creating the AGI.</p>
        </div>
      </div>
    </div>

     <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
              
          </div>
          <h2 class="card-title center">Artificial Superintelligence (ASI)</h2>
          <p class="card-text">This type of AI doesn't exist in the real world yet. Nor has humanity succeed in creating it. As the name suggest, this type of AI is capable of surpassing our human minds and is basically a species of their own. Capable of having emotions and their own will.</p>
        </div>
      </div>
    </div>
   </div>

        
        <div class="row">
            <div class="col-lg-12 text-center">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Machine Learning</h3>
                            <h5 class="card-subtitle mb-2 text-muted">Foundation of AI</h5>
                            <p class="card-text">All AI requires an application called Machine Learning in order to function like an AI. Machine Learning is what allows systems to learn from data collect, identify and analyze problems, and collected from the data to use to make decisions all on its own with minimal human interactions. Machine Learning contains algorithms and uses 2 types of techniques that helps make an AI an AI. Those 2 techniques are called Supervised Learning and Unsupervised Learning.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 text-center">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Supervised Learning</h3>
                            <h5 class="card-subtitle mb-2 text-muted">Technique 1</h5>
                            <p class="card-text">This technique builds models that makes predictions based on information gathered in the presence of uncertainty. In addition it takes a known set of input data and known responses to that certain data which then it trains a model to predict a reasonable prediction in response to that data. This is used to predict future outcomes. Supervised Learning uses 2 more technique called classification and regression.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 text-center">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Classification</h3>
                            <!--<h5 class="card-subtitle mb-2 text-muted">Technique 1</h5>-->
                            <p class="card-text">Classification groups input data into certain categories. Its also used to predict discrete responses. Common algorithms used in order to perform classification includes Support Vector Machine(SVM), Boosted and bagged decision trees, k-nearest neighbor, Naive Bayes, discriminant analysis, logistics regression, and neural networks.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 text-center">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Regression</h3>
                            <!--<h5 class="card-subtitle mb-2 text-muted">Technique 1</h5>-->
                            <p class="card-text">Regression predicts continuous responses and is used when you are working with a data range or when your response is a real number. Common algorithms used in order to perform regression includes Linear model, Nonlinear model, regularization, stepwise regression, Boosted and bagged decision trees, neural networks, and adaptive neuro-fuzzy learning.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 text-center">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Unsupervised Learning</h3>
                            <h5 class="card-subtitle mb-2 text-muted">Technique 2</h5>
                            <p class="card-text">Unsupervised Learning is used for finding hidden patterns or intrinsic structures in data, then drawing inferences from a dataset consisting of input data without label responses. Clustering being the most common type of unsupervised learning technique.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 text-center">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Clustering</h3>
                            <h5 class="card-subtitle mb-2 text-muted">Unsupervised Learning</h5>
                            <p class="card-text">Clustering is a type of unsupervised learning that uses exploratory data analysis to find hidden patterns and groupings in data. Common algorithms used in Clustering includes k-means and k-medoids, hierarchical clustering, Gaussian mixture model, hidden Markov model , Self-organizing maps, fuzzy c-means clustering, and subtractive clustering.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 text-center">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Intentionality</h3>
                            <h5 class="card-subtitle mb-2 text-muted">One of the 3 qualities</h5>
                            <p class="card-text">One of the 3 qualities that make an AI. Intentionality is the ability to make decisions using real time data and be able to Quickly makes the most optimal decision based on the data it has collected.This can be harmful to humans if the system is programmed poorly or programmed to harm people in the first place.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 text-center">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Intelligence</h3>
                            <h5 class="card-subtitle mb-2 text-muted">One of the 3 qualities</h5>
                            <p class="card-text">One of the 3 qualities that make an AI. Intelligence is allowing the system to be able to take in data and look for trends/patterns that happens which then it uses to base its decisions off of. The intellect of the AI is based solely on the programmers’ written code and into the AI.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 text-center">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Adaptability</h3>
                            <h5 class="card-subtitle mb-2 text-muted">One of the 3 qualities</h5>
                            <p class="card-text">One of the 3 qualities that make an AI. Adaptability is the ability to learn and adapt as it takes in new information and makes decisions. Being able to constantly take in new information, learn, and adapt can be seem as the most important qualities in an AI since its what makes an AI think like a human.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
