<section id="reference">
    <h1 class="text-center">Reference</h1>
    <!--<div class="container">-->
    <!--    <div class="row">-->
    <!--        <div class="col-lg-8 col-lg-offset-2 text-center">-->
    <!--            <h2 class="section-heading">Let's Get In Touch!</h2>-->
    <!--            <hr class="primary">-->
    <!--            <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>-->
    <!--        </div>-->
    <!--    <div class="col-lg-2 col-lg-offset-2 text-center">-->
    <!--        <a href="https://twitter.com/{{ site.twitter_username }}">-->
    <!--            <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>-->
    <!--            <p>{{ site.twitter_username }}</p>-->
    <!--        </a>-->
    <!--    </div>-->
    <!--    <div class="col-lg-2 col-lg-offset-1 text-center">-->
    <!--        <a href="mailto:{{ site.email }}">-->
    <!--        <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>-->
    <!--            <p>{{ site.email }}</p>-->
    <!--        </a>-->
    <!--    </div>-->
    <!--    <div class="col-lg-2 col-lg-offset-1 text-center">-->
    <!--        <a href="https://github.com/{{ site.github_username }}">-->
    <!--        <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>-->
    <!--            <p>{{ site.github_username }}</p>-->
    <!--        </a>-->
    <!--    </div>-->

    <!--</div>-->
    <table class="table table-bordered">
  <tbody>
    <tr>
      <th colspan="4" scope="row" class="text-center"><a href="https://medium.com/predict/types-of-artificial-intelligence-and-examples-4f586489c5de">https://medium.com/predict/types-of-artificial-intelligence-and-examples-4f586489c5de
</a></th>
    </tr>
    <tr>
      <th colspan="4" scope="row" class="text-center"><a href="https://www.astutesolutions.com/ani/artificial-narrow-intelligence">https://www.astutesolutions.com/ani/artificial-narrow-intelligence
</a></th>
    </tr>
    <tr>
      <th colspan="4" scope="row" class="text-center"><a href="https://builtin.com/artificial-intelligence">https://builtin.com/artificial-intelligence
</a></th>
    </tr>
     <tr>
      <th colspan="4" scope="row" class="text-center"><a href="https://www.sas.com/en_us/insights/analytics/what-is-artificial-intelligence.html">https://www.sas.com/en_us/insights/analytics/what-is-artificial-intelligence.html
</a></th>
    </tr>
     <tr>
      <th colspan="4" scope="row" class="text-center"><a href="https://www.brookings.edu/research/what-is-artificial-intelligence/">https://www.brookings.edu/research/what-is-artificial-intelligence/
</a>
</th>
    </tr>
     <tr>
      <th colspan="4" scope="row" class="text-center"><a href="https://www.sas.com/en_us/insights/analytics/machine-learning.html">https://www.sas.com/en_us/insights/analytics/machine-learning.html
</a>
</th>
    </tr>
    <tr>
      <th colspan="4" scope="row" class="text-center"><a href="https://www.mathworks.com/discovery/machine-learning.html#how-it-works">https://www.mathworks.com/discovery/machine-learning.html#how-it-works
</a>
</th>
    </tr>
    
  </tbody>
</table>
</section>
