<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What is artifical intelligence</h2>
                <hr class="light">
                <p class="text-faded">Artifical Intelligence aka AI, is a branch in computer science where it mainly focuses on machines that can have its own level of intelligence. This basically means a machine or a piece of technology having its own brain. Being able to think for itself with the infearance of humans.</p>
                <!--<a href="#" class="btn btn-default btn-xl">Get Started!</a>-->
            </div>
        </div>
    </div>
</section>
